.budget-subnav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.budget-subnav-button {
	width: 200px;
	text-align: center;
	cursor: pointer;
}

.budgetContainer {
	margin-top: 20px;
}

.overview__total {
	width: fit-content;
	font-size: 35px;
	text-align: center;
	margin: 0 auto;
	border-radius: 8px;
	padding: 0 22px;
	color: #4A6E7F;
}

.overview__state {
	width: fit-content;
	text-align: center;
}

.overview__activeState {
	position: relative;
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 120px;
	margin-top: 40px
}

.state__name, .state__value {
	min-width: 150px;
	border-radius: 8px;
}

.state__value {
	font-size: 20px
}

.state__name {
	font-size: 15px;
	text-transform: capitalize;
}

.overview__categories {
	display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 100px;
  margin-top: 70px;
  text-align: center;
}

.categoty {
	width: 200px;
	border: solid 0.5px #BDBDBD;
	border-right: none;
}

.category__name, .category__value {
	border-bottom: solid 0.5px #BDBDBD;
}

.category__value {
	font-size: 22px;
}

.category__name {
	font-size: 20px;
	text-transform: capitalize;
}

:global .borderRight {
	border-right: solid 0.5px #BDBDBD;
}

:global .borderLeft {
	border-left: solid 0.5px #BDBDBD;
}

.category__transaction {
	border-bottom: solid 0.5px #BDBDBD;
	cursor: pointer;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

.category__transaction:global(.text-success):hover, .transactionRow:global(.text-success):hover {
	background-color: #66BB6A;
}

.category__transaction:global(.text-danger):hover, .transactionRow:global(.text-danger):hover {
	background-color: #EF9A9A;
}

.transactionRow:global(.text-info):hover {
	background-color: #00BCD4;
}

.allTransContainer, .newTransContainer {
	margin: 20px auto;
  width: 77%;
}

.usedDayPicker {
	width: 300px;
	margin-bottom: 10px;
}

.transactionRow {
	display: flex;
	flex-direction: row;
	padding: 10px 0;
	border: solid 0.5px #BDBDBD;
	cursor: pointer;
}

.transaction__index {
	width: 0;
	flex-grow: 1;
	text-align: center;
}

.transaction__usedDate {
	width: 0;
	flex-grow: 3;
	text-indent: 20px;
}

.transaction__value {
	width: 0;
	flex-grow: 4;
}

.transaction__briefDes {
	width: 0;
	flex-grow: 4;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.transaction__fromTo {
	width: 0;
	flex-grow: 4;
}

.category__select-width {
	width: 20%;
}

.overview__stateButton {
	position: absolute;
  bottom: -35px;
  font-size: 17px;
  color: #E0E0E0;
	cursor: pointer;
}

.overview__stateButton:hover {
	color: #9E9E9E;
}

.stateModalHeader {
	text-align: center;
}
