<ul class="nav nav-tabs budget-subnav">
  <li role="presentation" class="budget-subnav-button" ng-class="{'active' : $ctrl.budgetNavState == 'overview'}" ng-click="$ctrl.changeBudgetNav('overview')"><a>Overview</a></li>
  <li role="presentation" class="budget-subnav-button" ng-class="{'active' : $ctrl.budgetNavState == 'all-trans'}" ng-click="$ctrl.changeBudgetNav('all-trans')"><a>All transaction</a></li>
  <li role="presentation" class="budget-subnav-button" ng-class="{'active' : $ctrl.budgetNavState == 'new-trans'}" ng-click="$ctrl.changeBudgetNav('new-trans')"><a>New transaction</a></li>
</ul>

<!-- NOTE: start overview tab -->
<div class="budgetContainer" ng-if="$ctrl.budgetNavState == 'overview'">
  <div class="overview__total bg-info">
    {{$ctrl.total | number : 0}}
  </div>
  <div class="overview__activeState">
    <div class="overview__state" ng-repeat="state in $ctrl.states track by $index">
      <p class="state__name">{{state.name}}</p>
      <div class="state__value bg-info">
        {{state.value | number : 0}}
      </div>
    </div>
    <div class="overview__stateButton" ng-click="$ctrl.openStateModal()">
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    </div>
  </div>
  <div class="overview__usedDayPicker overview__datepicker input-group input-daterange">
    <input type="text" class="form-control fromDate" value="01-12-2018">
    <div class="input-group-addon">to</div>
    <input type="text" class="form-control toDate" value="02-02-2018">
  </div>
  <div class="overview__categories">
    <div class="categoty" ng-repeat="category in $ctrl.categories track by $index" ng-class="{'borderRight' : $index == $ctrl.categories.length - 1}">
      <div class="category__name">
        {{category.name}}
      </div>
      <div class="category__value bg-info" ng-class="{'borderRight' : $index == $ctrl.categories.length - 1}">
        {{category.value | number : 0}}
      </div>
      <div class="category__transaction text-success bg-success" ng-repeat="transaction in category.transactions track by $index" ng-click="$ctrl.openDetailModal(transaction._id)" ng-class="{'text-danger bg-danger' : transaction.type == 'expense', 'borderRight' : $parent.$index == $ctrl.categories.length - 1}">
        {{transaction.value | number : 0}}
      </div>
    </div>
  </div>
</div>

<!-- NOTE: start all-trans tab -->
<div class="budgetContainer allTransContainer" ng-if="$ctrl.budgetNavState == 'all-trans'">
  <div class="allTrans__usedDayPicker allTrans__datepicker input-group input-daterange">
    <input type="text" class="form-control fromDate" value="01-12-2018">
    <div class="input-group-addon">to</div>
    <input type="text" class="form-control toDate" value="02-02-2018">
  </div>
  <div class="allTransactionsContainer">
    <div class="transactionRow text-success bg-success" ng-repeat="transaction in $ctrl.transactions track by $index" ng-click="$ctrl.openDetailModal(transaction._id)" ng-class="{'text-danger bg-danger' : transaction.type == 'expense', 'text-info bg-info' : transaction.type == 'changeState'}">
      <div class="transaction__index">
        {{$index + 1}}
      </div>
      <div class="transaction__usedDate">
        {{transaction.usedDate | date : 'dd/MMM/yyyy'}}
      </div>
      <div class="transaction__value">
        {{transaction.value | number : 0}}
      </div>
      <div class="transaction__briefDes">
        {{transaction.description}}
      </div>
    </div>
  </div>
</div>

<!-- NOTE: start mew-trans tab -->
<div class="budgetContainer newTransContainer" ng-if="$ctrl.budgetNavState == 'new-trans'">
  <form class="form-horizontal">
    <!-- NOTE -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Used date</label>
      <div class="col-sm-10">
        <input type="text" class="form-control newTrans__datePicker" placeholder="2/2/2018">
      </div>
    </div>

    <!-- NOTE -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Value</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" placeholder="2000000" ng-model="$ctrl.formInput_value">
      </div>
    </div>

    <!-- NOTE -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Buy books" ng-model="$ctrl.formInput_description">
      </div>
    </div>

    <!-- NOTE -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
        <select class="form-control category__select-width" ng-model="$ctrl.formInput_type" ng-change="$ctrl.formInput_type_change($ctrl.formInput_type)">
          <option value="expense">Expense</option>
          <option value="gain">Gain</option>
          <option value="changeState">Change state</option>
          <option value="changeCategory">Change category</option>
        </select>
      </div>
    </div>

    <!-- NOTE: expense's category and state form -->
    <div class="newTrans__expenseForm" ng-if="$ctrl.formInput_type === 'expense'">
      <!-- NOTE -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
          <select class="form-control category__select-width" ng-model="$ctrl.formInput_category">
            <option value="nes">Nes</option>
            <option value="saving">Saving</option>
            <option value="edu">Edu</option>
            <option value="play">Play</option>
            <option value="giving">Giving</option>
          </select>
        </div>
      </div>

      <!-- NOTE -->
      <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
          <select class="form-control category__select-width" ng-model="$ctrl.formInput_state">
            <option value="active">Active</option>
            <option value="in-card">In-card</option>
          </select>
        </div>
      </div>
    </div>

    <!-- NOTE: gain's category and state form -->
    <div class="newTrans__gainForm" ng-if="$ctrl.formInput_type === 'gain'">
      <!-- NOTE -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10 formCategory-gain">
          <div class="gainCategory">
            <div class="gainCategory_title">
              Nes
            </div>
            <input type="number" placeholder="200000" class="form-control gainCategory_input" ng-model="$ctrl.formInput_category.nes">
          </div>
          <div class="gainCategory">
            <div class="gainCategory_title">
              Saving
            </div>
            <input type="number" placeholder="200000" class="form-control gainCategory_input" ng-model="$ctrl.formInput_category.saving">
          </div>
          <div class="gainCategory">
            <div class="gainCategory_title">
              Edu
            </div>
            <input type="number" placeholder="200000" class="form-control gainCategory_input" ng-model="$ctrl.formInput_category.edu">
          </div>
          <div class="gainCategory">
            <div class="gainCategory_title">
              Play
            </div>
            <input type="number" placeholder="200000" class="form-control gainCategory_input" ng-model="$ctrl.formInput_category.play">
          </div>
          <div class="gainCategory">
            <div class="gainCategory_title">
              Give
            </div>
            <input type="number" placeholder="200000" class="form-control gainCategory_input" ng-model="$ctrl.formInput_category.give">
          </div>
        </div>
      </div>

      <!-- NOTE -->
      <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
          <select class="form-control category__select-width" ng-model="$ctrl.formInput_state">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
            <option value="in-card">In-card</option>
          </select>
        </div>
      </div>
    </div>

    <!-- NOTE: changeState's state form -->
    <div class="newTrans__changeStateForm" ng-if="$ctrl.formInput_type === 'changeState'">
      <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-10 changeStateForm_state">
          <label class="control-label changeStateForm_stateLabel">from</label>
          <select class="form-control category__select-width" ng-model="$ctrl.formInput_state.from">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
            <option value="in-card">In-card</option>
          </select>
          <label class="control-label changeStateForm_stateLabel">to</label>
          <select class="form-control category__select-width" ng-model="$ctrl.formInput_state.to">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
            <option value="in-card">In-card</option>
          </select>
        </div>
      </div>
    </div>

    <!-- NOTE changeCategory's category form-->
    <div class="newTrans__changeCategoryForm" ng-if="$ctrl.formInput_type === 'changeCategory'">
      <div class="form-group">
        <label class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10 changeStateForm_state">
          <label class="control-label changeStateForm_stateLabel">from</label>
          <select class="form-control category__select-width" ng-model="$ctrl.formInput_category.from">
            <option value="nes">Nes</option>
            <option value="saving">Saving</option>
            <option value="edu">Edu</option>
            <option value="play">Play</option>
            <option value="giving">Giving</option>
          </select>
          <label class="control-label changeStateForm_stateLabel">to</label>
          <select class="form-control category__select-width" ng-model="$ctrl.formInput_category.to">
            <option value="nes">Nes</option>
            <option value="saving">Saving</option>
            <option value="edu">Edu</option>
            <option value="play">Play</option>
            <option value="giving">Giving</option>
          </select>
        </div>
      </div>
    </div>

    <!-- NOTE -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" ng-click="$ctrl.submitTransactionForm()" ng-disabled="$ctrl.disabledSubmit">New transaction</button>
      </div>
    </div>
  </form>
</div>

<!-- NOTE: state overview and state change transaction modal -->
<div class="modal fade" id="stateModal" role="dialog" tabindex="-1">
  <div class="modal-dialog stateModal_dialog" role="document">
    <div class="modal-content stateModal_content">
      <div class="modal-header stateModalHeader">
        All state change transactions
      </div>
      <div class="modal-body">
        <div class="stateModal__usedDayPicker stateModal__datepicker input-group input-daterange">
          <input type="text" class="form-control fromDate" value="01-12-2018">
          <div class="input-group-addon">to</div>
          <input type="text" class="form-control toDate" value="02-02-2018">
        </div>
        <div class="transactionContainer">
          <div class="transactionRow text-info bg-info" ng-repeat="transaction in $ctrl.stateChangeTransactions track by $index" ng-click="$ctrl.openDetailModal(transaction._id)">
            <div class="transaction__index">
              {{$index + 1}}
            </div>
            <div class="transaction__usedDate">
              {{transaction.usedDate | date : 'dd/MMM/yyyy'}}
            </div>
            <div class="transaction__value">
              {{transaction.value | number : 0}}
            </div>
            <div class="transaction__fromTo">
              {{transaction.state.from}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{transaction.state.to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NOTE: transaction detail -->
<div class="modal fade" id="transactionDetailModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header transactionDetailModalHeader">
        Transaction detail
      </div>
      <div class="modal-body">
        <div class="detailContainer">
          <div class="detailRow">
            <p class="title">Used date</p> <p class="detail">{{$ctrl.transactionDetailModal.usedDate | date: 'dd/MMM/yyyy'}}</p>
          </div>
          <div class="detailRow">
            <p class="title">Value</p> <p class="detail">{{$ctrl.transactionDetailModal.value | number : 0}}</p>
          </div>
          <div class="detailRow">
            <p class="title">Type</p> <p class="detail">{{$ctrl.transactionDetailModal.type}}</p>
          </div>
          <div class="detailRow">
            <p class="title">Category</p> <p class="detail">{{$ctrl.transactionDetailModal.category}}</p>
          </div>
          <div class="detailRow">
            <p class="title">Description</p> <p class="detail">{{$ctrl.transactionDetailModal.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
