<ul class="nav nav-tabs budget-subnav">
  <li role="presentation" class="budget-subnav-button" ng-class="{'active' : $ctrl.budgetNavState == 'overview'}" ng-click="$ctrl.changeBudgetNav('overview')"><a>Overview</a></li>
  <li role="presentation" class="budget-subnav-button" ng-class="{'active' : $ctrl.budgetNavState == 'all-trans'}" ng-click="$ctrl.changeBudgetNav('all-trans')"><a>All transaction</a></li>
  <li role="presentation" class="budget-subnav-button" ng-class="{'active' : $ctrl.budgetNavState == 'new-trans'}" ng-click="$ctrl.changeBudgetNav('new-trans')"><a>New transaction</a></li>
</ul>

<!-- NOTE: start overview tab -->
<div class="budgetContainer" ng-if="$ctrl.budgetNavState == 'overview'">
  <div class="overview__total bg-info">
    {{$ctrl.total | number : 0}}
  </div>
  <div class="overview__activeState">
    <div class="overview__state" ng-repeat="state in $ctrl.states track by $index">
      <p class="state__name">{{state.name}}</p>
      <div class="state__value bg-info">
        {{state.value | number : 0}}
      </div>
    </div>
    <div class="overview__stateButton" ng-click="$ctrl.openStateModal()">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </div>
  </div>
  <div class="overview__categories">
    <div class="categoty" ng-repeat="category in $ctrl.categories track by $index" ng-class="{'borderRight' : $index == $ctrl.categories.length - 1}">
      <div class="category__name">
        {{category.name}}
      </div>
      <div class="category__value bg-info" ng-class="{'borderRight' : $index == $ctrl.categories.length - 1}">
        {{category.value | number : 0}}
      </div>
      <div class="category__transaction text-success bg-success" ng-repeat="transaction in category.transactions track by $index" ng-click="$ctrl.openDetailModal(transaction._id)" ng-class="{'text-danger bg-danger' : transaction.type == 'expense', 'borderRight' : $parent.$index == $ctrl.categories.length - 1}">
        {{transaction.value | number : 0}}
      </div>
    </div>
  </div>
</div>

<!-- NOTE: start all-trans tab -->
<div class="budgetContainer allTransContainer" ng-if="$ctrl.budgetNavState == 'all-trans'">
  <div class="usedDayPicker input-group input-daterange">
    <input type="text" class="form-control" value="2012-04-05">
    <div class="input-group-addon">to</div>
    <input type="text" class="form-control" value="2012-04-19">
  </div>
  <div class="allTransactionsContainer">
    <div class="transactionRow text-success bg-success" ng-repeat="transaction in $ctrl.transactions track by $index" ng-click="$ctrl.openDetailModal(transaction._id)" ng-class="{'text-danger bg-danger' : transaction.type == 'expense'}">
      <div class="transaction__index">
        {{$index + 1}}
      </div>
      <div class="transaction__usedDate">
        {{transaction.usedDate | date : 'dd/MMM/yyyy'}}
      </div>
      <div class="transaction__value">
        {{transaction.value}}
      </div>
      <div class="transaction__briefDes">
        {{transaction.description}}
      </div>
    </div>
  </div>
</div>

<!-- NOTE: start mew-trans tab -->
<div class="budgetContainer newTransContainer" ng-if="$ctrl.budgetNavState == 'new-trans'">
  <form class="form-horizontal">
    <!-- NOTE -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Used date</label>
      <div class="col-sm-10">
        <input type="text" class="form-control newTrans__datePicker" placeholder="2/2/2018">
      </div>
    </div>

    <!-- NOTE -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Amount</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" placeholder="2000000">
      </div>
    </div>

    <!-- NOTE -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Buy books">
      </div>
    </div>

    <!-- NOTE -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Category</label>
      <div class="col-sm-10">
        <select class="form-control category__select-width">
          <option value="small">Nes</option>
          <option value="medium">Edu</option>
          <option value="large">Play</option>
        </select>
      </div>
   </div>

   <!-- NOTE -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> is Expense ?
          </label>
        </div>
      </div>
    </div>

    <!-- NOTE -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default">New transaction</button>
      </div>
    </div>
  </form>
</div>

<!-- NOTE: state overview and state change transaction modal -->
<div class="modal fade" id="stateModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header stateModalHeader">
        All state change transactions
      </div>
      <div class="modal-body">
        <div class="transactionRow text-info bg-info" ng-repeat="transaction in $ctrl.stateChangeTransactions track by $index" ng-click="$ctrl.openDetailModal(transaction._id)">
          <div class="transaction__index">
            {{$index + 1}}
          </div>
          <div class="transaction__usedDate">
            {{transaction.usedDate | date : 'dd/MMM/yyyy'}}
          </div>
          <div class="transaction__value">
            {{transaction.value}}
          </div>
          <div class="transaction__fromTo">
            {{transaction.state[0]}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{transaction.state[1]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NOTE: transaction detail -->
<div class="modal fade" id="transactionDetailModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="detailContainer">
          <p class="title">Used date</p> <p class="detail">{{$ctrl.transactionDetailModal.usedDate}}</p> <br>
          <p class="title">Amount</p> <p class="detail">{{$ctrl.transactionDetailModal.amount}}</p> <br>
          <p class="title">is Expense</p> <p class="detail">{{$ctrl.transactionDetailModal.isExpense}}</p> <br>
          <p class="title">Description</p> <p class="detail">{{$ctrl.transactionDetailModal.description}}</p> <br>
          <p class="title">Category</p> <p class="detail">{{$ctrl.transactionDetailModal.category}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
