<!-- sub nav bar to navigate between exercise -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" ng-click="$ctrl.exercise = 'word-in-1-set'"><a href="#">practice words of 1 set <span class="sr-only">(current)</span></a></li>
        <li class="active" ng-click="$ctrl.exercise = 'memo-practice'"><a href="#">memo practice <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="practice-container">
  <!-- NOTE: Exercise: word in 1 set -->
	<div class="word-in-set" ng-if="$ctrl.exercise == 'word-in-1-set'">
		<!-- left column, contain setting -->
		<div class="left-column">
			<div class="choose-set">
				<input type="text" name="" value="" ng-model="$ctrl.choosenSet" ng-keyup="$event.keyCode == 13 && $ctrl.chooseSet()">
				<button type="button" name="button" ng-click="$ctrl.chooseSet()">Use this</button>
				<button type="button" name="button" ng-click="$ctrl.chooseSet('random')">Random</button>
			</div>
		</div>

		<!-- right column, contain exercise -->
		<div class="right-column">
			<div class="question-container" ng-if="$ctrl.show">
				<div class="word">
					{{$ctrl.letter}}
				</div>
				<input type="text" name="" value="" class="word-in-1-set-input" ng-model="answer" ng-keyup="$event.keyCode == 13 && $ctrl.submitAnswer(answer, $event)">
			</div>
			<div class="result" id="word-in-1-set-result" ng-if="$ctrl.show">
				<div class="word-result" ng-repeat="result in $ctrl.results track by $index">
					<div class="icon">
						<span ng-if="result.correct" class="glyphicon glyphicon-ok correct-icon" aria-hidden="true"></span>
						<span ng-if="!result.correct" class="glyphicon glyphicon-remove wrong-icon" aria-hidden="true"></span>
					</div>
					<div class="data">
						{{result.letter}} : {{result.word}}
					</div>
				</div>
			</div>
		</div>
	</div>
  <!-- END NOTE: Exercise: word in 1 set -->

  <!-- NOTE: Exercise: memo practice -->
  <div class="memo-practice" ng-if="$ctrl.exercise == 'memo-practice'">
    <!-- left column, contain setting -->
    <div class="left-column">
      <form class="form-horizontal">
        <div class="form-group no-margin">
          <label class="col-xs-4 control-label">Total words: </label>
          <div class="col-xs-8">
            <input type="number" ng-model="$ctrl.setting.totalWord">
          </div>
        </div>
        <div class="form-group no-margin">
          <label class="col-xs-4 control-label">Words per display: </label>
          <div class="col-xs-8">
            <input type="number" ng-model="$ctrl.setting.wordPerDisplay">
          </div>
        </div>
        <div class="form-group no-margin">
          <label class="col-xs-4 control-label">Time between display (ms): </label>
          <div class="col-xs-8">
            <input type="number" step="250" ng-model="$ctrl.setting.timePerDisplay">
          </div>
        </div>
        <button class="btn btn-default" ng-click="$ctrl.updateSetting($ctrl.setting.totalWord, $ctrl.setting.wordPerDisplay, $ctrl.setting.timePerDisplay)">Update setting</button>
      </form>
    </div>

    <!-- right column, contain exercise -->
    <div class="right-column">
      <button class="btn btn-info" ng-click="$ctrl.startMemoPractice()">Start</button>
      <div class="display-step" ng-show="$ctrl.displayStep">
        {{$ctrl.displayStep}}/{{$ctrl.totalDisplayStep}}
      </div>
      <div class="well">
        {{$ctrl.displayWords}}
      </div>
      <form>
        <div class="form-group">
          <label>Answer: </label>
          <input type="text" class="memo-practice-input form-control" ng-model="answer" ng-keyup="$event.keyCode == 13 && $ctrl.submitAnswerExe2(answer)" ng-disabled="$ctrl.disableInput">
        </div>
      </form>
      <div class="memo-practice-result">
        {{$ctrl.myAnswer}} <br> {{$ctrl.memoResult}}
      </div>
    </div>
  </div>
  <!-- END NOTE: Exercise: memo practice -->
</div>
