.word-in-set {
	display: flex;
	flex-direction: row;
	padding: 0 100px;
}

.left-column {
	width: 0;
	flex-grow: 1;
}

.right-column {
	width: 0;
	flex-grow: 2;
}

.question-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.word {
	padding: 0 50px;
}

.word-result {
	display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.word-result .icon {
	padding: 0 20px;
}

.result {
	max-height: 450px;
  overflow-y: auto;
}

.correct-icon {
	color: green;
}

.wrong-icon {
	color: red;
}
