.journal-editor-container {
	width: 800px;
	height: 400px;
  position: absolute;
  left: 50%;
	top: 150px;
  transform: translateX(-50%);
  max-height: 400px;
}

.journal-subnav {
	position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
	text-align: center;
}

.journal-subnav-button {
	width: 120px;
}

.journal-list {
	position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
	width: 70%;
}
