.writing-editor-container {
	width: 800px;
	height: 400px;
	max-height: 400px;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
}

.writing-subnav {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

.writing-subnav-button {
	width: 120px;
}

.writing-list {
	width: 95%;
	margin: 0 auto;
}

.post-container {
	margin-top: 10px
}

.post-innerContainer {
	padding: 0;
	overflow: hidden;
}

.writing-post {
	position: relative;
}

.post-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.delete-post, .edit-post {
	width: 70px;
}

.post-time {
	display: flex;
	align-items: center;
}

.writing-container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.left-col-writing-type {
	flex-grow: 1;
	width: 0;
}

.right-col-writing-space {
	flex-grow: 6;
	position: relative;
	width: 0;
}
