<div class="writing-container">
  <div class="left-col-writing-type">
    <div class="btn-group-vertical" role="group">
      <button type="button" name="button" class="btn btn-default" ng-class="{'active' : $ctrl.writingType == 'journal'}" ng-click="$ctrl.changeType('journal')">Journal</button>
      <button type="button" name="button" class="btn btn-default" ng-class="{'active' : $ctrl.writingType == 'change logs'}" ng-click="$ctrl.changeType('change logs')">Change logs</button>
    </div>
  </div>

  <div class="right-col-writing-space">
    <ul class="nav nav-pills writing-subnav">
      <li role="presentation" class="writing-subnav-button" ng-class="{'active' : $ctrl.subnavState == 'list'}" ng-click="$ctrl.changeSubNav('list')"><a href="#">All writing</a></li>
      <li role="presentation" class="writing-subnav-button" ng-class="{'active' : $ctrl.subnavState == 'write'}" ng-click="$ctrl.changeSubNav('write')"><a href="#">Write today</a></li>
    </ul>

    <div class="writing-editor-container" ng-if="$ctrl.subnavState == 'write'">
      <div id="writing-editor-id" quill-editor="$ctrl.initContent" on-summit="$ctrl.onSummit"></div>
    </div>

    <div class="writing-list" ng-if="$ctrl.subnavState == 'list'">
      <div class="writing-post" ng-repeat="writing in $ctrl.allWriting | orderBy: 'createdAt':true track by $index">
        <div class="post-info">
          <div class="post-time">
            {{writing.createdAt | date: 'd/M/yyyy, h:mm:ss'}}
          </div>
          <div class="post-button">
            <button type="button" name="button" class="btn btn-info edit-post" ng-click="$ctrl.editWriting(writing.id)">Edit</button>
            <button type="button" name="button" class="btn btn-danger delete-post" ng-click="$ctrl.removeWriting(writing.id)">Delete</button>
          </div>
        </div>
        <div class="well post-container">
          <div bind-html-compile="writing.html"></div>
        </div>
      </div>
    </div>
  </div>
</div>
