.home-background-image {
	position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: -100;
  object-fit: cover;
	object-position: center;
	pointer-events: none;
}

.welcome-title {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 240px;
	transform: translateX(-50%);
	font-size: 50px;
	background-color: #00000038;
}

.clock {
	position: absolute;
	color: #fff;
	left: 50%;
	transform: translateX(-50%);
	top: 330px;
	font-size: 60px;
	background-color: #00000038;
}

.quote {
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
	color: #fff;
	text-align: center;
	position: absolute;
	max-width: 600px;
}
