<!-- main background image -->
<img ng-src="{{$ctrl.backgroundSrc.src}}" ng-srcset="{{$ctrl.backgroundSrc.srcSet}}" sizes="100vw" class="home-background-image" alt="">

<div class="home_mid_screen">
	<h1 class="welcome-title" ng-if="$ctrl.isAuthenticated">Welcome home, Dauto98</h1>
	<h1 class="welcome-title" ng-if="!$ctrl.isAuthenticated">Welcome, trespassers</h1>

	<div class="clock">
		{{$ctrl.clock | date : 'HH:mm:ss'}}
	</div>
</div>

<div class="quote">
	<p class="quote-content">{{$ctrl.quote.content}}</p>
	<p class="quote-author">- {{$ctrl.quote.author}} -</p>
</div>
